<!--
  Generated template for the EventsJoinedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>events-joined</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button outline (click)="showNotStarted()" *ngIf="button != 1">未开始</button>
  <button ion-button *ngIf="button == 1">未开始</button>

  <button ion-button outline (click)="showStarted()" *ngIf="button != 2">进行中</button>
  <button ion-button *ngIf="button == 2">进行中</button>

  <button ion-button outline (click)="showEnded()" *ngIf="button != 3">已结束</button>
  <button ion-button *ngIf="button == 3">已结束</button>

  <div class="flow-container">
    <div class="flow-item" *ngFor="let eventItem of (eventItems | async | eventFilter: button)">
      <ion-card (click)="goToEventDetail(eventItem.id)">
        <div class="flow-item-image">
          <div class="aspect-ratio-inner">
            <div class="flexbox-center">
              <img-loader src="./assets/imgs/logo.png" useImg></img-loader>
            </div>
          </div>
        </div>
        <ion-card-content>
          {{eventItem.title}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
