page-event-detail {
  .event-image {
    @include aspect-ratio-center
  }

  .detail-name {
    margin-bottom: 0;
  }

  .event-tag-caption-container {
    margin-top: 0.5rem;
  }

  .event-participants-number {
    p, h2 {
      text-align: center;
      margin: 0.5rem 0;
    }

    p {
      font-size: .9em;
    }
  }

  .event-participants-number:not(:last-child) {
    border-right: solid 1px #eeeeee;
  }
}
