<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>checkin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="personItems | async as _personItems">
    <ion-list class="top-list" *ngFor="let personItem of _personItems">
      <div ion-item>
        <ion-avatar item-start>
          <img-with-request src="{{getAvatarUrl(personItem.uid)}}"></img-with-request>
        </ion-avatar>
        <div class="checkin-name">
          {{personItem.name}}
        </div>

        <button item-end ion-button (click)="change(personItem)" [color]="personItem.checked ? 'danger' : 'normal'"
                class="checkin-button" [disabled]="personItem.loading">
          <ng-container *ngIf="personItem.loading">
            <ion-spinner name="ios-small"></ion-spinner>&nbsp;
          </ng-container>
          {{personItem.checked ? '取消' : '签到'}}
        </button>

      </div>
    </ion-list>
  </div>

</ion-content>
