page-personal {
  .toolbar-title-md {
    text-align: center;
  }

  .scroll-content {
    overflow: hidden;
  }

  .bg-color {
    background-color: #efeeee;
  }

  .top-list {
    margin-top: 15px;
  }
}

.personal-popover {
  .list {
    margin-bottom: 0;
  }

  .item {
    padding-left: 0;
  }

  .item-inner {
    padding-right: 0;
  }

  .label {
    margin: 13px;
  }
}
