// http://ionicframework.com/docs/theming/

@mixin aspect-ratio-center() {
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  position: relative;

  >.aspect-ratio-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    >.flexbox-center {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.event-tag-caption {
  background-color: #eeeeee;
  padding: 0.25em;
  margin-top: 0;
  margin-bottom: 0;
  width: max-content;

  &:not(:first-child) {
    margin-left: 0.25em;
  }

  &:not(:last-child) {
    margin-right: 0.25em;
  }
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
